# Dependencies
node_modules/

# Build outputs
bin/
dist/
out/
macos/build/
macos/DerivedData/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS cruft
.DS_Store
Thumbs.db

# Env / editor
.env
.env.*
.idea/
.vscode/

# Temporary
*.tmp
*.swp
*~

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcarchive
*.playground

# Model files
*.bin